@model List<GeoProfs_App.Models.Verlofaanvraag>

@{
    ViewData["Title"] = "Manage Verlofaanvragen";
}

@inject GeoProfs_App.Data.GeoProfs_AppContext _dbContext

<div class="main_content_verlofaanvragen title">
    <h1>Management</h1>
</div>

<div class="main_content_verlofaanvragen">
    <div class="row">
        <div class="management-item col-md-12">
            <h2>Ziekmeldingen vandaag</h2>
            <table>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Reason</th>
                        <th>Start Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var verlofaanvraag in Model)
                    {
                        var currentDate = DateTime.Now.Date;
                        var begindate = verlofaanvraag.StartDate.Date;
                        if (verlofaanvraag.Status == "ziek" && begindate == currentDate)
                        {
                            <tr>
                                <td>
                                    @{
                                        var userName = _dbContext.Users
                                        .Where(u => u.Id == verlofaanvraag.UserId)
                                        .Select(u => u.UserName)
                                        .FirstOrDefault();
                                    }
                                    @userName
                                </td>
                                @if (verlofaanvraag.Reason == "Anders")
                                {
                                    <td>@verlofaanvraag.DifffrentReason</td>
                                }
                                else
                                {
                                    <td>@verlofaanvraag.Reason</td>
                                }
                                <td>@verlofaanvraag.StartDate.ToShortDateString()</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="management-item col-md-12">
            <h2>Pending Verlofaanvragen</h2>
            <table>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Reason</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var verlofaanvraag in Model)
                    {
                        if (verlofaanvraag.Status == "pending")
                        {
                            <tr>
                                <td>
                                    @{
                                        var userName = _dbContext.Users
                                        .Where(u => u.Id == verlofaanvraag.UserId)
                                        .Select(u => u.UserName)
                                        .FirstOrDefault();
                                    }
                                    @userName
                                </td>
                                @if (verlofaanvraag.Reason == "Anders")
                                {
                                    <td>@verlofaanvraag.DifffrentReason</td>
                                }
                                else
                                {
                                    <td>@verlofaanvraag.Reason</td>
                                }
                                <td>@verlofaanvraag.StartDate.ToShortDateString()</td>
                                <td>@verlofaanvraag.EndDate.ToShortDateString()</td>
                                <td>
                                    <select name="status" onchange="updateStatus('@verlofaanvraag.Id', this.value)">
                                        <option value="Pending" selected="@((verlofaanvraag.Status == "Pending") ? "selected" : null)">Pending</option>
                                        <option value="Approved" selected="@((verlofaanvraag.Status == "Approved") ? "selected" : null)">Approved</option>
                                        <option value="Rejected" selected="@((verlofaanvraag.Status == "Rejected") ? "selected" : null)">Rejected</option>
                                    </select>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="management-item col-md-12">
            <h2>Accepted Verlofaanvragen</h2>
            <table>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Reason</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var verlofaanvraag in Model)
                    {
                        if (verlofaanvraag.Status == "Approved" || verlofaanvraag.Status == "ziek")
                        {
                            <tr>
                                <td>
                                    @{
                                        var userName = _dbContext.Users
                                        .Where(u => u.Id == verlofaanvraag.UserId)
                                        .Select(u => u.UserName)
                                        .FirstOrDefault();
                                    }
                                    @userName
                                </td>
                                @if (verlofaanvraag.Reason == "Anders")
                                {
                                    <td>@verlofaanvraag.DifffrentReason</td>
                                }
                                else
                                {
                                    <td>@verlofaanvraag.Reason</td>
                                }
                                <td>@verlofaanvraag.StartDate.ToShortDateString()</td>
                                <td>@verlofaanvraag.EndDate.ToShortDateString()</td>
                                <td>@verlofaanvraag.Status</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="management-item col-md-12">
            <h2>Manage Users</h2>

            <table>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Verlofsaldo</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in ViewBag.Users)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td><input type="text" value="@user.verlofsaldo" onchange="updateVerlofsaldo('@user.UserName', this.value)" /></td>
                            <td>
                                <select name="role" onchange="updateRole('@user.UserName', this.value)">
                                    <option value="Employee" selected="@((user.Role == "Employee") ? "selected" : null)">Employee</option>
                                    <option value="Manager" selected="@((user.Role == "Manager") ? "selected" : null)">Manager</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn-danger btn" onclick="deleteUser('@user.UserName')">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
          </div>
    </div>
</div>

<script>
    // Update de status van een verlofaanvraag
    function updateStatus(id, status) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateStatus", "Management")",
            data: { id: id, status: status },
            success: function () {
                // Reload the page to reflect the updated status
                location.reload();
            },
            error: function () {
                alert("An error occurred while updating the status.");
            }
        });
    }

    // Update de verlofsaldo van een user
    function updateVerlofsaldo(userName, verlofsaldo) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateVerlofsaldo", "Management")",
            data: { userName: userName, verlofsaldo: verlofsaldo },
            success: function () {
                // Reload the page to reflect the updated verlofsaldo
                location.reload();
            },
            error: function () {
                alert("An error occurred while updating the verlofsaldo.");
            }
        });
    }

    // Update de rol van een user
    function updateRole(userName, role) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateRole", "Management")",
            data: { userName: userName, role: role },
            success: function () {
                location.reload();
            },
            error: function () {
                location.reload(); 
            }
        });
    }

    // Delete een user
    function deleteUser(userName) {
        if (confirm("Are you sure you want to delete the user '" + userName + "'?")) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteUser", "Management")",
                data: { userName: userName },
                success: function () {
                    // Reload the page to reflect the updated user list
                    location.reload();
                },
                error: function () {
                    alert("An error occurred while deleting the user.");
                }
            });
        }
    }
</script>